target/
!.mvn/wrapper/maven-wrapper.jar
.env
*.class

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/resources/architecture.html

### VS Code ###
.vscode/

### Custom ignores ###
*.log
*.bat
*.tmp
*.bak
